[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RARtrials"]
	path = RARtrials
	url = https://github.com/yayayaoyaoyao/rartrials
